<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %.-1level [%logger{5}]: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.maizy.ambient7" level="INFO"/>
    <logger name="scalikejdbc" level="INFO"/>
    <logger name="ru.maizy.influxdbclient" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
