[submodule "ambient7-arduino/platformio-version/EspArduinoExceptionDecoder"]
	path = ambient7-arduino/platformio-version/EspArduinoExceptionDecoder
	url = git@github.com:janLo/EspArduinoExceptionDecoder.git
