#pragma once
/*

Project configuration.

Copy that file as configs.h

TODO: generate that header from .ini configs
      https://docs.platformio.org/en/latest/projectconf/advanced_scripting.html
*/
const bool ENABLE_WIFI_CLIENT = true;
const char* WIFI_NETWORK = "my_network";
const char* WIFI_PASSWORD = "pa$$word";

const byte CO2_RX = D6;  // UART RX pin = sensor TX
const byte CO2_TX = D7;  // UART TX pin = sensor RX
const byte DTH22_1WIRE = D5;  // DHT22 (AM2302) 1wire pin
