#pragma once
/*

Project configuration.

Copy that file as configs.h

TODO: generate that header from .ini configs
      https://docs.platformio.org/en/latest/projectconf/advanced_scripting.html
*/
// comment line bellow to disable wifi
#define ONLINE_MODE

#ifdef ONLINE_MODE
  const char* WIFI_NETWORK = "my_network";
  const char* WIFI_PASSWORD = "pa$$word";
#endif

const byte CO2_RX = D6;  // UART RX pin = sensor TX
const byte CO2_TX = D7;  // UART TX pin = sensor RX
const byte DTH22_1WIRE = D4;  // DHT22 (AM2302) 1wire pin
