@import '../../node_modules/bootstrap/less/bootstrap.less';

@import "../../node_modules/react-datepicker/dist/react-datepicker.css";

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

@sidebar-offset: 15px;

.sidebar {
  margin-top: @sidebar-offset;
}

.sidebar-module {
  padding: @sidebar-offset;
  margin: 0 -@sidebar-offset @sidebar-offset;
}
.sidebar-module-inset {
  padding: @sidebar-offset;
  background-color: #f5f5f5;
  border-radius: 4px;
}
